/*Imported text style from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: michroma;
    background: url(../Images/background-image.jpg);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: white;
    padding: 8px 20px;
}
.logo img {
    width: 150px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.3s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
/*drop down nav after*/
.menu li a::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.3s ease-in-out;
}
.menu li a:hover:after {
    width: 100%;
}
/*Nav menu open/close*/
.open-menu , .close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
/*Pseudo class for elements selected*/
#check {
    display: none;
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 3rem;
    font-weight: 600;
}
.contact .content p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 100px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;  
}
.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon {
    min-height: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3 {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(3, 111, 252);
}
.contactform {
    width: 40%;
    padding: 40px;
    background-color: white;
}
.contactform h2 {
    font-size: 1.8rem;
    font-weight: 500;
}
.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input, .contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.2rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
    font-family: michroma;
}
.contactform .inputbox span {
   position: absolute;
   left: 0;
   padding: 5px 0;
   font-size: 0.8rem;
   margin: 10px 0;
   pointer-events: none;
   transition: 0.5s;
   color: black;
}
/*valid/foxus for transitions of text upon input of text*/
.contactform .inputbox input:focus ~ span, 
.contactform .inputbox input:valid ~ span
.contactform .inputbox textarea:focus ~ span, 
.contactform .inputbox textarea:valid ~ span {
 font-size: 1rem;
 transform:  translateY(-20px);   

}
/*Input type for suibmit button NOT IN USE*/
.contactform .inputbox input[type="submit"] {
    width: 100px;
    background-color: rgb(3, 111, 252);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}
footer {
    background-color: white;
    padding: 35px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center
}
.social a {
    margin: 0 60px;
    color: black;
    font-size: 24px;
}
/*Media widths for 990px*/
@media (max-width: 990px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactinfo {
        margin-bottom: 40px;

    }
    .container .contactinfo, .contactform {
        width: 100%;
    }
}
/*Media widths for 610px*/
@media only screen and (max-width: 610px){

    .menu {
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 35%;
     height: 95vh;
     position: fixed;
     top: 0;
     right: -100%;
     z-index: 100;
     background-color: rgb(255, 255, 255);
     transition: all 0.3s;
    } 
    .menu li {
     margin-top: 40px;
    }
    .menu li a {
     padding: 2px;
    }
    .open-menu , .close-menu {
     display: block;
    }
    #check:checked ~ .menu {
     right: 0;
    }
    .blog-box {
     margin: 20px 10px;
     width: 100%;
    }
    #blog {
     padding: 20px;
    }
 }